@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

:root {
  --primary: hsla(1, 65%, 50%, 1);
  --secondary: ;
  --white: hsla(0, 0%, 100%, 1);
  --black: hsla(0, 0%, 0%, 1);

  --mainfont: "Montserrat", sans-serif;
  --secondayfont: "Syne", sans-serif;

  /* font-size */
  --fs-max: ;
  --fs-mid: ;
  --fs-min: ;

  /* padding */
  --pd-max: 5.2rem;
  --pd-mid: 3.2rem;
  --pd-min: 2rem;

  /* margin */
  --m-max: 5rem;
  --m-mid: 4rem;
  --m-min: 2rem;

  /* transition */
  --transition-fast: ;
  --transition-slow: ;

  /* box-shadow */
  --bs-min: ;
  --bs-mid: ;
  --bs-max: ;

  --transition: all 0.4s ease-out;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

body {
  font-size: 16px;
  scroll-behavior: smooth;
  background-color: var(--white);
  font-family: var(--mainfont);
}

/* animations */
@keyframes full {
  100% {
    transform: none;
    opacity: 1;
    visibility: visible;
  }
}

/********** main **********/

section {
  width: 100%;
  max-width: 1872px;
  height: auto;
  padding: 2rem var(--pd-max);
}

@media (max-width: 1200px) {
  section {
    padding: 2rem var(--pd-mid);
  }
}

@media (max-width: 800px) {
  section {
    padding: 2rem var(--pd-min);
  }
}
