@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

:root {
  --primary: hsla(1, 65%, 50%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --black: hsla(0, 0%, 0%, 1);

  --mainfont: "Montserrat", sans-serif;
  --secondayfont: "Syne", sans-serif;

  --padding-primary: 3rem;
  --padding-max: 5.2rem;
  --padding-min: 2.5rem;

  --margin-max: 6.2rem;

  --transition: all 0.4s ease-out;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  scroll-behavior: smooth;
  background-color: var(--white);
  font-family: var(--mainfont);
}

@keyframes full {
  100% {
    transform: none;
    opacity: 1;
    visibility: visible;
  }
}

/********** Navbar **********/

#Navbar {
  width: 100%;
  max-width: 1728px;
  max-height: 104px;
}

/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1.6rem var(--padding-primary) 1rem;
  width: 100%;
  transform: translateY(-4rem);
  visibility: hidden;
  opacity: 0;
  animation: full 1s ease forwards;
} */

nav {
  display: grid;
  grid-template-columns: 0.25fr auto;
  grid-gap: 3rem;
  width: 100%;
  transform: translateY(-4rem);
  padding: 1.6rem var(--padding-primary) 1rem;
  visibility: hidden;
  opacity: 0;
  animation: full 1s ease forwards;
}

/* . {
  display: flex;
  align-items: center;
} */

.nav__box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__linkbox {
  display: flex;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  color: var(--black);
  font-size: 16px;
  transition: all 0.4s ease;
}

.nav__link:not(:first-child) {
  margin-left: 3rem;
}

.nav__link::after {
  display: block;
  content: "";
  background-color: black;
  width: 0%;
  height: 2px;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  transform: translateX(-10px);
  transition: all 0.4s ease;
}

.nav__link:hover::after,
.nav__link.active::after {
  width: 40%;
  opacity: 1;
  transform: none;
  visibility: visible;
  background-color: var(--primary);
}

.nav__link:hover,
.nav__link.active {
  color: var(--primary);
}

/********** main **********/

section {
  width: 100%;
  height: auto;
  padding: var(--padding-max) var(--padding-primary) var(--padding-min);
}

#Main {
  width: 100%;
  height: auto;
}

.headingBox {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-top: 5.2rem; */
}

.topHeading {
  font-size: 10rem;
  font-weight: bold;
  color: var(--primary);
  font-family: var(--secondayfont);
  overflow: hidden;
  display: inline-block;
}

.topHeading span {
  display: inline-block;
  transform: translateY(100%);
  animation: slideUp 1s 0.4s ease-out forwards;
}

@keyframes slideUp {
  to {
    transform: translateY(0%);
  }
}

.topPera {
  font-size: 2rem;
  color: var(--black);
  font-weight: 500;
  overflow: hidden;
  display: inline-block;
}

.topPera span {
  display: inline-block;
  transform: translateY(100%);
  animation: slideUp 1s 0.8s ease-out forwards;
}

/* row section */

.main__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: var(--margin-max) 0;
}

.main__col {
  display: flex;
  flex-flow: column nowrap;
}

.main__col:first-child {
  justify-content: flex-end;
  align-items: flex-start;
}

.main__col-color-pera {
  color: var(--primary);
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  display: inline-block;
  overflow: hidden;
}
.main__col-color-pera span {
  display: inline-block;
  transform: translateY(100%);
  animation: slideUp 1s 0.9s ease-out forwards;
}

.main__col-heading {
  color: var(--black);
  font-family: var(--secondayfont);
  font-size: 3.2rem;
  margin-bottom: 5rem;
  display: inline-block;
  overflow: hidden;
}

.main__col-heading span {
  display: inline-block;
  transform: translateY(100%);
  animation: slideUp 1s 0.9s ease-out forwards;
}

.main__col-heading span:nth-child(2) {
  animation: slideUp 1s 1.2s ease-out forwards;
}

.main__col-pera {
  color: var(--black);
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.main__col:last-child {
  justify-content: center;
  align-items: flex-start;
}

/* .main__col-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--primary);
  font-size: 1.2rem;
  width: max-content;
  outline: none;
  margin-top: 2rem;
  position: relative;
}

.main__col-btn::after {
  content: "";
  display: flex;
  top: 2rem;
  height: 1px;
  width: 0;
  left: 0;
  position: absolute;
  background-color: var(--primary);
} */

/* fancy button  */

.fancy-button {
  position: relative;
  padding: 12px 0;
  font-size: 16px;
  background: white;
  color: black;
  border: 1px solid #ccc;
  cursor: pointer;
  overflow: hidden;
  border: none;
}

.fancy-button::before,
.fancy-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  background: var(--primary);
  transition: all 0.6s ease;
}

.fancy-button::before {
  left: 0;
  width: 100%;
  opacity: 1;
}

.fancy-button::after {
  left: 0;
  width: 0;
  opacity: 0;
  transition-delay: 0.5s;
}

.fancy-button:hover::before {
  left: 100%;
  width: 0;
  opacity: 0;
}

.fancy-button:hover::after {
  width: 100%;
  opacity: 1;
}

.main__col-video {
  border-radius: 16px;
  width: 350x;
  height: 200px;
  background-color: rgb(47, 47, 77);
  transform: scale(1.2);
  opacity: 0;
  visibility: hidden;
}

.main__col-video.animate {
  animation: full 1.2s ease forwards;
}

/********** Footer **********/

.footer {
  width: 100%;
  height: auto;
  padding: 2rem var(--padding-primary);
  display: grid;
  grid-template-columns: repeat(4, auto);
  position: relative;
}

.footer::before {
  content: "";
  width: 33%;
  height: 1px;
  background-color: var(--primary);
  position: absolute;
  top: 0;
  left: 4%;
}

.footerLinkBox {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.footerLinkHeading {
  font-size: 1.2rem;
  color: var(--primary);
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: 500;
}

.footerlink {
  color: var(--black);
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 1rem;
  text-decoration: none;
}

.footerLinkBox:nth-child(3) div {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, auto);
}

.footerLinkBox:nth-child(4) {
  align-items: flex-end;
}

.footercirclebutton {
  padding: 3rem;
  font-size: 1.2rem;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--black);
  cursor: pointer;
  margin-top: 1rem;
  background-color: transparent;
  overflow: hidden;
  border-color: var(--primary);
}

.footercirclebutton:hover .icon-img {
  transform: scale(1.2);
}

.icon-img {
  width: 20px;
  height: 25px;
  transition: all 0.4s ease;
}
/*  */
.arrow-circle {
  width: 100px;
  height: 100px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: var(--black);
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}
.arrow-circle:hover {
  border-color: var(--primary);
  color: var(--primary);
  animation: wave 0.5s forwards ease-in-out;
}
.arrow-circle:hover .arrow-up {
  transform: scale(1.2);
  color: var(--primary);
}
.arrow-up {
  transition: transform 0.3s ease;
}
@keyframes wave {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
}

/* work css */

.work {
  width: 68rem;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 3rem auto 1rem;
}

.work__heading {
  text-align: center;
  font-size: 4.8rem;
  font-family: var(--secondayfont);
  color: var(--black);
  margin: 1rem auto 1rem;
  /* font-weight: 600; */
}

.work__pera {
  text-align: center;
  font-size: 1.2rem;
  color: var(--black);
  font-weight: 500;
}

.work__projects {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 5rem auto;
}

.work__project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin: 0 auto 5rem;
}

.work__project:nth-child(2) > .work__project-sm:nth-child(1) {
  order: 2;
}
.work__project:nth-child(2) > .work__project-sm:nth-child(2) {
  order: 1;
}

.work__project-sm {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.work__project-sm h2 {
  font-size: 2rem;
  font-family: var(--secondayfont);
  color: var(--black);
  text-transform: capitalize;
}

.work__project-sm p {
  font-size: 1.2rem;
  font-family: var(--secondayfont);
  color: var(--black);
}

.work__project-sm h4 span {
  color: var(--primary);
  margin-right: 1rem;
}

.work__btn {
  color: var(--primary);
  background: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1.2rem;
}

.work__project-sm:nth-child(1) {
  background-color: #eee;
  width: 100%;
  height: 20rem;
  overflow: hidden;
  border-radius: 8px;
}

.work__project-sm-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  background-color: gray;
}

/* contact css */

.contact {
  width: 55rem;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 3rem auto 1rem;
}

.contact__heading {
  text-align: center;
  font-size: 4.8rem;
  font-family: var(--secondayfont);
  color: var(--black);
  margin: 4rem auto 1rem;
  /* font-weight: 600; */
}

/*******************  ********************/

.custom-select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Styled select */
.custom-select {
  appearance: none; /* Remove default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding: 1.2rem 3rem 1.2rem 1.2rem;
  margin-bottom: 1rem;
  border: 1px solid var(--black);
  border-radius: 8px;
  background-color: white;
  color: var(--black);
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px 16px;
}

/* Optional: Style option tags (limited support) */
select option {
  background: white;
  color: #333;
  padding: 1.2rem;
}

.custom-select option[disabled] {
  color: #aaa;
}

/*******************  ********************/

.contact__form {
  width: 44rem;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.contact__pera {
  text-align: left;
  font-size: 1.2rem;
  color: var(--black);
  font-weight: 500;
  margin-bottom: 3rem;
}

.contact__form-input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.2rem;
  border-radius: 8px;
  color: var(--black);
  border: 1px solid var(--black);
  background: transparent;
  margin-bottom: 1rem;
}

.contact__form-label {
  font-size: 1.2rem;
  color: var(--black);
  font-weight: 500;
  margin-bottom: 1rem;
}

.contact__form-name-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
.contact__form-name-box > div > .contact__form-input {
  margin-top: 1rem;
}

.star {
  color: var(--primary);
  margin: 0 auto 8px 4px;
}

.button-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 16rem;
  margin-top: 1rem;
  height: fit-content;
  background: transparent;
  margin-bottom: 8rem;
}

.about__btn {
  font-size: 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1.2rem 1.6rem;
  border-radius: 50px;
  border: 1px solid black;
  transition: all 0.4s ease;
}

.about__btn:nth-child(1) {
  background: var(--black);
  color: var(--white);
}

.about__btn:nth-child(2) {
  background: var(--white);
  color: var(--black);
}
.about__btn:nth-child(2):hover {
  background: var(--black);
  color: var(--white);
}

/* codelit.css */

.about {
  width: 65rem;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 3rem auto 1rem;
}

.about__pera {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.2rem;
  color: var(--black);
  font-weight: 500;
}

.about__heading {
  text-align: center;
  font-size: 5rem;
  font-family: var(--secondayfont);
  color: var(--black);
  margin: 4rem auto 3rem;
  /* font-weight: 600; */
}

.about__designbox {
  width: 220px;
  height: 90px;
  border-radius: 8px;
  background-color: var(--primary);
  margin-bottom: 8rem;
  transform: rotate(12deg) translateX(8rem);
}

.about__small-heading {
  font-size: 2.4rem;
  font-family: var(--secondayfont);
  color: var(--black);
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.about__small-pera {
  text-align: center;
  width: 100%;
  margin: 0 auto 3rem;
  font-weight: 500;
  font-size: 1.1rem;
  font-family: var(--secondayfont);
  color: var(--black);
}

.about__small-heading-pera {
  font-size: 1.6rem;
  color: var(--black);
  font-family: var(--secondayfont);
  text-indent: 12rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.about__small-heading-pera span {
  color: var(--primary);
}

.about__image-box {
  width: 100%;
  height: 20rem;
  border-radius: 16px;
  background-color: gray;
  overflow: hidden;
}

.about__image {
  width: 100%;
  background-position: center;
  background-size: cover;
}

.about__our-story-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

.about__our-story-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.about__our-story-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
}

.about__our-story-box-heading {
  font-size: 2rem;
  font-family: var(--secondayfont);
  color: var(--black);
  font-weight: 500;
  margin-bottom: 2rem;
}

.about__our-story-box-pera {
  font-size: 1.2rem;
  font-family: var(--secondayfont);
  color: var(--black);
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.about__our-story-box > img {
  width: 28rem;
  height: auto;
}

.about__our-team-heading {
  margin-bottom: 2rem;
}

.about__our-team-heading-pera {
  text-align: center;
  width: 60%;
  margin: auto;
  font-weight: 500;
  margin-bottom: 3rem;
  font-family: var(--secondayfont);
  font-size: 1.2rem;
}

.about__employess-card-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  line-height: 1.5;
}

.about__employee-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about__employee-card-image {
  overflow: hidden;
  width: 100%;
  height: 18rem;
  border-radius: 16px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.about__employee-card-image > img {
  width: 100%;
  background-position: center;
  background-size: cover;
}

.about__employee-card > h1 {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--primary);
}
.about__employee-card > p {
  font-size: 0.8rem;
  color: var(--black);
  margin-bottom: 0.2rem;
  font-weight: 500;
}
.about__employee-card > h2 {
  font-size: 1rem;
  color: var(--primary);
  font-weight: 400;
}
.about__employee-card > .pera {
  font-size: 1.1rem;
  color: var(--black);
  text-align: center;
  font-weight: 500;
}

.about__skillcard-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.about__skillcard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.about__skillcard > h2 {
  color: var(--primary);
  font-size: 1.4rem;
  width: 60%;
  margin: 0 auto 2rem;
  font-weight: 600;
}

.about__skillcard > p {
  color: var(--black);
  font-size: 1rem;
  font-weight: 500;
}

.button-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 26rem;
  margin: auto;
  height: fit-content;
  background: transparent;
  margin-bottom: 8rem;
}

.about__btn {
  font-size: 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1.2rem 1.6rem;
  border-radius: 50px;
  border: 1px solid black;
  transition: all 0.4s ease;
}

.about__btn:nth-child(1) {
  background: var(--black);
  color: var(--white);
}

.about__btn:nth-child(2) {
  background: var(--white);
  color: var(--black);
}
.about__btn:nth-child(2):hover {
  background: var(--black);
  color: var(--white);
}
